<?xml version="1.0"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.7/phpunit.xsd"
        bootstrap="./vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        verbose="true"
        stopOnFailure="true"
        processIsolation="false"
        backupGlobals="false">

    <testsuites>
        <testsuite name="utilities">
            <directory>tests/Utilities</directory>
        </testsuite>
        <testsuite name="comments">
            <directory>tests/Template/Comment</directory>
        </testsuite>
        <testsuite name="structure">
            <directory>tests/Template/Structure</directory>
        </testsuite>
        <testsuite name="file">
            <file>tests/Template/FileTemplateTest.php</file>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>